.listitem{
   display: flex;
    padding: 10px;
    margin: 2px 16px;
    transition: all ease 0.3s;
    border-radius: 10px;
    gap: 10px;
    font-size: 1.2rem;
    background-color: #ffffff00;
    justify-content: flex-start;
}

.sidebartop{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid var(--moh_green);
    height: 82px;
    margin-bottom: 20px;
}

.sidehead{
    margin: 20px;
}

.close>.sidebartop {
    justify-content: center;
}

input[type='search'] {
    width: 100%;
    border-radius: 10px;
}

.close {
    width: 78px;
 
}

.listname {
    font-size: 1rem;
}

.close .sidebartop> h3 {
    display: none;
}


p {
    display: block;
}

.close > a .listitem> p {
    display: none;
}

.close > a .listitem {
    justify-content: center;
}


aside > :last-child {
    
    margin-top: auto;
    margin-bottom: 40px;
}

aside a.active .listitem {
    background-color: var(--moh_green);
    font-weight: bold;
    color: #fff;
}




.profile-head {
    margin-bottom: 0px;
}